<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>제품안내01</title>

  <!-- Main CSS : Header, Main, Footer -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/product/product01_1.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <!-- Bootstarp JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function(){
      $('#headerTop').load("../headerTop-sub.html");
      $('#header').load("../header-sub.html");     
      $('#footer').load("../footer-sub.html");
    });
  </script>

</head>
<body>
  <!-- 헤더 -->
  <div id="headerTop"></div>
  <div id="header" class="sticky-top"></div>

  <!-- 메인 -->
  <!-- 제품안내 -->
  <!-- COMMON -->
  <div class="commonSection1">
    <div class="commonContent1">
      <img src="../img/member/sub-visual02.jpg" 
          style="width: 100%; height: 100%;">
      <div class="commonContent2 text-center">
        <div>
          <h3>PRODUCT</h3>
        </div>
        <div>
          <p><img src="../img/icon-home.png"> > 제품안내 > 제품안내01</p>
        </div>
      </div>
    </div>
  </div>
  <!-- COMMON - 드랍다운 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../index.html"><button class="homeBtn">H</button></a>
      <ul class="navbar-nav mr-auto navbar-nav-scroll" 
          style="max-height: 100px;">
        
        <li class="nav-item dropdown dropdownHide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" 
            data-toggle="dropdown" aria-expanded="false">
            제품안내
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">회사소개</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">사업분야</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">제품안내</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">커뮤니티</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">고객지원</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" 
              role="button" data-toggle="dropdown" aria-expanded="false">
              제품안내01
          </a>
          <ul class="dropdown-menu asd">
            <li><a class="dropdown-item" href="./business01.html">제품안내01</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">제품안내02</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">제품안내03</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- 제품안내01 상세 -->
  <div class="section01">
    <div>제품안내01</div>
    <div>The design and maintenance are excellent.</div>
    <div class="product_table">
      <div class="table-top">
        <div>제목</div>
        <div>IM101</div>
      </div>
      <div class="table-bottom">
        <div><img id="pd-img" src="../img/product/1.jpg"></div>
        <h2>IM101</h2>
        <div>
          <span><br>인체공학적인 디자인으로 착용감이 탁월합니다. 생생한 사운드는 기본이며 휴대가 쉽도록 헤드 부분과 연결 부분을 분리할 수 있습니다. <br>3,5mm 플러그와 6.3 플러그를 동시에 제공하므로 팩에 맞는 다양한 멀티미디어 기계에 사용할 수 있습니다.
                <br>깨끗한 사진과 동영상 감상과 함께 촬영속도와 프리뷰속도에서도 전용 디지털 카메라에 못지 않은 강력한 성능을 보여줍니다.
          </span>
        </div>
        <div>
          <span style="font-size: 10pt;">-3.4인치의 고해상도 WIDE LCD 화면으로 생생하고 선명한 디지털 위성방송을 감상<br>-710만 화소의 내장형 카메라 탑재로 보다 깨끗한 사진과 동영상 감상과 함께 촬영속도와 프리뷰속도<br>-전용 디지털 카메라에 못지 않은 강력한 성능
            <br>-SRS WOW의 3D 사운드의 듀얼스피커를 통한 고품질의 음악과 웅장한 사운드 효과 <br>-편리해진 인터페이스로 짧은시간내에 기능들을 손쉽게 이용<br><br>
          </span>
        </div>
      </div>
    </div>

  </div>


  <!-- 푸터 -->
  <div id="footer"></div>
</body>
</html>