<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- th:replace에서 가져올 내용 -->
<th:block th:fragment="fragment-headerTop">

<!-- 탑메뉴 -->
<div class="toTopScroll">
  <img src="./img/icon-top.png" onClick="javascript:window.scrollTo(0,0)">
</div>
<div class="top d-none d-md-block">
  <div class="topMenu d-none d-md-block container">
    <span class="home"><a href="/">HOME</a></span>
    <span><a href="/member/login">LOGIN</a></span>
    <span><a href="/member/join">JOIN</a></span>
    <span><a href="/company/company03">CONTACT US</a></span>
  </div>
</div>

</th:block>

</html>