<!-- 네비바 -->
<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand" href="./index.html"><img src="./img/logo.png" alt="로고"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#collapsibleNavbar"> 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- ml-auto : margin-left  -->
      <ul class="navbar-nav ml-auto">
        <!-- d-block : display: block  display: none -->
        <li class="nav-item d-sm-block d-md-none ljoin">
          <a href="./member/login.html"> <img src="./img/icon-member.png">&nbsp;&nbsp;Login</a>&nbsp;
          <a href="./member/join.html"> <img src="./img/icon-join.png">&nbsp;&nbsp;Join</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">회사소개</a>
          <div class="dropdown-content">
            <a href="./company/company01.html">회사개요</a>
            <a href="#">CEO인사말</a>
            <a href="./company/company03.html">오시는길</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">사업분야</a>
          <div class="dropdown-content">
            <a href="./business/business01.html">사업분야01</a>
            <a href="#">사업분야02</a>
            <a href="#">사업분야03</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">제품안내</a>
          <div class="dropdown-content">
            <a href="./product/product01.html">제품안내01</a>
            <a href="#">제품안내02</a>
            <a href="#">제품안내03</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">커뮤니티</a>
          <div class="dropdown-content">
            <a href="./community/community01.html">공지사항</a>
            <a href="#">홍보자료</a>
            <a href="#">채용안내</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">고객지원</a>
          <div class="dropdown-content">
            <a href="./customer/customer01.html">1:1문의</a>
            <a href="./customer/customer02.html">묻고답하기</a>
            <a href="./customer/customer03.html">FAQ</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>