<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- layout/head(meta,css,js) 시작 -->
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <!-- layout/head 끝 -->
</head>
<body>
    <!-- layout/header(nav) 시작 -->
    <header th:replace="fragments/header :: headerFragment"></header>
    <!-- layout/header 끝 -->
    <!-- layout/conent(자체콘텐츠) 시작   -->
    <div layout:fragment="content"></div>
    <!-- layout/conent(자체콘텐츠) 끝   -->
    <!-- layout/footer 시작   -->
    <footer th:replace="fragments/footer :: footerFragment"></footer>
    <!-- layout/footer 끝   -->
</body>
</html>